.multiroom-room {
    margin-bottom: 20px;
    border-radius: 2px;

}

.multiroom-room .head {
    padding: 10px;
    background: #4D4D4D;
    border-bottom: 1px solid #333;
}

.multiroom-room .name {
    font-weight: bold;
}

.multiroom-room .playlist {
    color: #999;
}

.multiroom-room .detail {
    border-top: 1px solid #777;
    background: #393939;
    padding: 10px;
}
.multiroom-room .detail small {
    display: block;
    color: #888;
    font-size: 10px;
    margin-top: 6px;
}

.multiroom-room .controls {
    margin-top: 10px;
}

.multiroom-room .controls .play {
    background-image: url("../img/multiroom_play.png");
    width: 40px;
    height: 40px;
}

.multiroom-room .controls .pause {
    background-image: url("../img/multiroom_pause.png");
    width: 40px;
    height: 40px;
    background-color: #DEED79;
}
.multiroom-room .controls .stop {
    background-image: url("../img/multiroom_stop.png");
}
.multiroom-room .controls .prev {
    background-image: url("../img/multiroom_rewind.png");
}
.multiroom-room .controls .next {
    background-image: url("../img/multiroom_fast_forward.png");
}
.multiroom-room .controls .turn-up {
    background-image: url("../img/multiroom_volume_up.png");
}
.multiroom-room .controls .turn-down {
    background-image: url("../img/multiroom_volume_down.png");
}
.multiroom-room .controls a {
    background-color: #EDB579;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.multiroom-room .controls a:hover {
    background-color: #89D62B;
}

.multiroom-room .tracker {
    height: 15px;
    background: #888;
    position: relative;
    margin: 20px 0 30px;
    cursor: pointer;
}
.multiroom-room .tracker .full {
    background: #000080;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition-property: width;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: linear;*/
    cursor: pointer;
}
.multiroom-room .tracker .duration {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 11px;
}

.multiroom-room .tracker .position {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 11px;
}

.multiroom-room .volume-container {
    height: 15px;
    background: #888;
    position: relative;
    margin: 20px 0 30px;
    cursor: pointer;
    width:200px;
}
.multiroom-room .volume-container .volume-full {
    background: #006600;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition-property: width;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: linear;*/
    cursor: pointer;
}